// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

//fonts
$mainFont:'Chivo', sans-serif;

$thin:100;
$extralight:200;
$light:300;
$regular:400;
$medium:500;
$semibold:600;
$bold:700;
$extrabold:800;
$black:900;

// colors

$bodyColor:white;
$bodyBackground:#121725;
$mainGreen:#54E6AF;
$lightGrey:#C2CBE5;
$darkGrey:#2c344b;
$mainRed:#FB3E3E;

///breakpoint
$breakpoint-desktop-min: 1130px;
$breakpoint-tablet-max: 1129px;
$breakpoint-tablet-min: 768px;
$breakpoint-mobile-max: 767px;

// @media(min-width:$breakpoint-desktop-min){}
// @media(min-width:$breakpoint-tablet-min) and (max-width:$breakpoint-tablet-max){}
// @media(min-width:$breakpoint-tablet-min)
// @media(max-width:$breakpoint-tablet-max){}
// @media(max-width:$breakpoint-mobile-max){}


// Common breakpoints are

// 320px — 480px for mobile devices,
// 481px — 768px for iPads & tablets,
// 769px — 1024px for small screens like laptop,
// 1025px — 1200px for large screens like Desktops,
// and 1201px and above for extra large screens like TV.
